<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lunar ~ Commands</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/footer.css">
</head>

<body>
    <div class="container">
        <div class="navbar">
            <a href="/" id="active">Home</a>
            <a href="/">Commands</a>
            <a href="/">Add me to Discord</a>
            <a href="/">Changelog</a>
            <a href="/">Support</a>
        </div>

        <div class="content">
            
        </div>

        <div class="footer">
            <br>
            <p style="font-size: 16px;">Contact me</p>
            <a href="#" style="text-decoration: none; color: white; font-family: 'Righteous';"><i
                    class="fa fa-envelope"></i> devphytols@gmail.com</a>
            <p id="footer-about">
                Discord Anime Website produced by Fernando Oliveira for study practices.<br>
                <a href="#" style="color: white;">Wikipedia</a>
                <span>,</span>
                <a href="#" style="color: white;">MyAnimeList</a>
            </p>
            <br>
            <p id="footer-left">
                <span>Copyright © 2020 - 2021 by <a href="#" style="color: white;">Fernando Oliveira</a></span>
                <span id="footer-right">
                    Discord Bot is part of
                    <a href="#" style="text-decoration: none; color: white;">
                        <strong>devPhytols</strong>
                    </a>
                </span>
            </p>
        </div>
    </div>
</body>

</html>